@charset "utf-8";
/* selector universal para que todos los elementos html "amanezcan" sin margin
 ni padding */
*{
	margin:0;
	padding:0;
}

body{
	background-color:rgb(33, 33, 66);
	width:90vw;
	margin:auto;
	font-family: 'Poppins', sans-serif;}

header{
	height:130px;
	background-color:rgb(107, 98, 206);
	
    display: flex;
	justify-content: space-around;
    
}
.logo{ 
	width: 150px;
	height: 120px;
	text-align: center;
	margin-top: 5px;
	
}
#marca{
	margin-top: 20px;
	font-size: xx-large;
	color: rgb(182, 248, 51);
	font-family: 'Are You Serious', cursive;
  

	
}

nav{
	height:40px;
	text-align:center;
	line-height:40px;
	font-weight:bold;
	background-color:yellow;
	color:rgb(205, 243, 162);
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
	text-decoration: none;

	}

 form{
    width: 60vw;
    height: 650px;
    border: solid 1px #aca7a7;
    border-radius: 4px;
    text-align: center;
    font-family: 'Jost', sans-serif;;
    background-color: ivory;
    position: relative;
    left:200px;
    margin-top: 60px;
    margin-bottom: 20px;
    padding:25px;
    
    
    }
    h1{
        color: rgb(61, 11, 94);
        font-size: 26px;
    }
    .completar{
        width: 50vw;
        height: 24px;
        color: orangered
    
    }
    .titulo{
        color: rgb(61, 11, 94);
        font-size: larger;

    }
    .titulo{
      font-weight: 550;
    }
    .inicialrecuadro{
        color: rgb(61, 11, 94);
        font-weight: 500;
        text-transform: uppercase;
        background-color: rgb(221, 213, 228);
    }
    
        
    
    .enviar{
        font-size:large;
        text-align: center;
        margin-top: 30px;
        width: 100px;
        height: 40px;
        color: white;
        background-color: rgb(61, 11, 94);}


     footer{
	
            background-color:rgb(235, 146, 190);
            color:rgb(7, 7, 7);
            display: flex;
        
        
            
            
        }
    .pie1{
        flex-direction: column;
    
    }
    .mapa{
        width: 50vw;
        height: 40vh;
        margin-right: 10px;
        margin-top: 10px;
        
    }
    address{
        font-weight: 800;
        font-size: 14px;
        margin-left: 10px;
        margin-top: 10px;
    
        
    
    }
    .whatsapp{
        width: 40px;
        height: 40px;
    }
    .facebook{
        width: 40px;
        height: 40px;
    }
    .instagram{
        width: 40px;
        height: 40px;
    }
    
    @media(max-width:780px) {

        #marca {
            font-size: xx-large;
        }
         form{
             left: 70px;
             height: auto;
         }
         nav{
             height: auto;
         }
         footer{
            flex-direction: column;
            padding: 20px;
            border:10px solid mediumvioletred;
            }
    }

    @media(max-width: 360px){
        form{
            left: 25px;
            height: auto;
        }
        nav{
            height: auto;
        }
        .mapa{
            width: 87vw ;
            
        }
        }

    